@media (max-width: 750px) {
  .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: 100%;
  }

  .main {
    margin-top: 0px !important;
    height: 100%
  }

  footer {
    background-color: black;
    color: white;
  }
}

@media (max-width: 576px) {
  .content {
    width: 75%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .logo {
    width: 25%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

/***************
*** MAIN ***
***************/

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 30px;
}

h1 {
  padding: 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  line-height: 1.5em;
  color: #4B367C;
}

.main {
  background-color: #367c6e;
  max-width: 700px;
  margin: auto;
  margin-top: 60px;
  padding: 10px;
}

/***************
**** FILTER ****
***************/

.filter {
  background-color: #7c3644;
  width: 275px;
  height: 60px;
  margin: auto;
  margin-bottom: 5px;
  border-radius: 4%;
}

.filter-btns {
  text-align: center;
  padding: 18px;
}

.filter-btns li {
  display: inline-block;
  line-height: 1px;
}

.filter-btns li button {
  height: 26px;
  width: 64px;
  background-color: #decdd0;
}

/*******************
*** CHANNEL DIVS ***
*******************/

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.channels {
  background-color: 	#367c6e;
}

.chan-div {
  padding: 12px 5px 5px 5px;
  border: solid black 0.5px;
  border-radius: 1%;
  margin-bottom: 5px;
  background-color:	#c3d59d;
}

.chan-div h2 {
  font-family: "Kelly Slab", cursive;
  font-size: 1.5em;
}

.chan-div p {
  padding-top: 5px;
  font-size: 1em;
}

.disabled {
  color: black;
}

.desc {
  font-size: 1em;
}

.offline .desc {
  display: none;
}


/*******************
*** FOOTER ***
*******************/

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
}
